  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline social-buttons">
                        {% for network in site.data.social %}
                        <li class="social-button-item"><a href="{{ network.url }}"><i class="fa fa-{{ network.icon }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
