{% for item in site.data.navbar %}
    {% if item.subcategories != null %}
    <li><a class="page-scroll nounderline" href="{{ item.url | prepend:site.baseurl }}" class="page-link">{{ item.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in item.subcategories %}
    <li><a class="page-scroll nounderline" href="{{ subcategory.suburl | prepend:site.baseurl }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
     <li><a class="page-scroll nounderline" href="{{ item.url | prepend:site.baseurl }}" class="page-link">{{ item.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
