---
layout: default
---

<!-- Presentations -->
<section id="pres" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-center">
                                <h2 class="section-heading">{{ page.title }}</h2>
                                <h3 class="section-subheading text-muted">{{ page.subtitle }}</h3>
                        </div>
                </div>
        </div>

        {% for day in site.data.program %}
        <div class="container">
                <div class="row">
                        <center><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ forloop.index }}" aria-expanded="false" aria-controls="{{ forloop.index }}">
                        {{ day.date }}
                        </button>
                        </center>
                        <div class="collapse" id="{{ forloop.index }}">
                                {% for topic in day.active %}
                                <br/>
                                <div class="row project">
                                        <div class="col-md-2">
                                        <h4>{{ topic.time }}</h4>
                                        {% if topic.session %}<p><i class="fa fa-atom"> {{ topic.session }}</i></p>{% endif %}
                                        </div>
                                        <div class="col-md-4">
                                        <h5>{{ topic.title }}</h5>
                                        {% if topic.presenter %}<p><i class="fa f-user"> {{ topic.presenter }}</i></p>{% endif %}
                                        {% if topic.type %}<p><i class="fa fa-comment"> {{ topic.type }}</i></p>{% endif %}
                                        {% if topic.slides %}<p><i class="fa fa-image"></i> <a href="{{ topic.slides }}"> {{ topic.slides }}</a></p>{% endif %}
                                        {% if topic.paper %}<p><i class="fa fa-file-text-o"></i> <a href="{{ topic.paper }}">{{ topic.paper }}</a></p>{% endif %}
                                        </div>
                                        {% if topic.abstract %}
                                         <button class="btn btn-primary" 
                                                        type="button" 
                                                        data-toggle="collapse" 
                                                        data-target="#{{ forloop.index }}-abs" 
                                                        aria-expanded="false" 
                                                        aria-controls="{{ forloop.index }}-abs">abstract</button>
                                        <!--<div class="collapse" id="{{ forloop.index }}-abs">
                                                <p class="text-muted" >{{ topic.abstract }}</p>
                                        </div>-->
                                        {% assign abs = topic.abstract %}
                                        <div class="collapse" id="{{ forloop.index }}-abs">
                                                <p class="col-md-6 text-muted" >{{ abs }}</p>
                                        </div>
                                        {% endif %}
                                </div>
                                {% endfor %}
                        </div>
                </div>
        </div>
        <br/>
        {% endfor %}
</section>
